<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul v0.1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Soul v0.1</h1>

    <form action="/create_user" method="POST">
        <h2>Crie seu usuário</h2>
        <label for="username">Username:</label>
        <input type="text" id="username_create" name="username_create" required>
        <label for="password">Password:</label>
        <input type="password" id="password_create" name="password_create" required>
        <button type="submit">Criar</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
